.formulario_tarefa{
    display: flex;
    flex-direction: column;
    background-color: rgb(5, 51, 88);
    box-shadow: 2px 4px 4px #0000009F;
    padding: 2rem;
    gap: 2rem;
    .formulario_tarefa_opcao{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .opcao_item{
            font-size: 1.1rem;
        }
        .opcao_item_input{
            padding: 0.5rem;
            border-radius: 20px;
            border: unset;
            background-color: #5D677C;
            box-shadow: 0px 2px 4px #2D2B2B9F inset;
            &::placeholder {
                color: #BFBFBF;
              }
        }
    }
}