.cronometro{
    background-color: rgb(5, 51, 88);
    box-shadow: 2px 4px 4px #0000009F;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}