.AppStyle{
    margin: 4rem;
    height: 100%;
    background-color: rgba(5, 51, 88, 0.534);
    border-radius: 20px;
    padding: 4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    .app_form{
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 2rem;
    }
}

